body{
    background-color: rgb(241, 208, 241);
}


.nav{
    background-color: rgb(246, 187, 246);
    color: black;
    text-align: center;
}

.event1{
    padding: 50px;
    margin: 20px;
    display: flex;
    position: relative;
    margin-top: 50px;
    justify-content: space-between;
}

.event2{
    padding: 50px;
    margin: 20px;
    margin-top: 80px;
    display: flex;
    position: relative;
    justify-content: space-between;
}
